[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs
[submodule "src/obstacle_detector_2"]
	path = src/obstacle_detector_2
	url = https://github.com/giuschio/obstacle_detector_2.git
	branch = humble-devel
[submodule "src/physics_simulators/Gazebo/px4_msgs"]
	path = src/physics_simulators/Gazebo/px4_msgs
	url = https://github.com/PX4/px4_msgs
